{% extends 'mainAPP/base.html' %}

{% block contenido %}

<h2 style="margin: 30px;">AGREGAR PELICULAS AL BD</h2>

<form style="margin: 30px;" action="/moviefy/peliculas/crear/" method="post">
    {% csrf_token %}

    <p style="color:black; margin-bottom: 45px;">
        Pelicula: <input type="text" name="titulo">
    </p>
    <p style="color:black; margin-bottom: 45px">
        Genero: <input type="text" name="genero">
    </p>
    <p style="color:black; margin-bottom: 45px">
        Director: <input type="text" name="director">
    </p>
    <p style="color:black; margin-bottom: 45px">
        Fecha de estreno: <input type="date" name="fecha_estreno">
    </p>
    <p style="color:black; margin-bottom: 45px">
        Presupuesto: <input type="number" name="presupuesto">
    </p>

    <input
        style="margin-bottom:30px;background-color:darkslategrey;color:aliceblue; border-radius: 10px;padding: 8px;"
        type="submit" value="AGREGAR PELICULA">
</form>

{% endblock %}